.App {
  width: 100%;
  min-height: 100vh;
}

.error_page_box {
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.error_page_box h1 {
    color: #555;
    font-family: sans-serif;
    text-align: center;
    font-size: 50px;
}

.error_page_box span {
    color: #555;
    font-family: sans-serif;
    text-align: center;
    font-size: 20px;
}