@mixin sliderImageTitle {
    font-weight: 700;
    font-size: 3rem;
    margin-bottom: 0.4rem;
    text-align: left;
    color: #fff;
    font-style: italic;
}

.wrapper {
    width: 100%;
    min-height: 100vh;
    background-color: #f2f2f2;
    padding: 2rem 1.5rem;
    border-radius: 1.5rem;
}

.carousel {
    margin-top: 80px;
    background-color: #fff;
    width: 100%;
    height: 500px !important;
    border-radius: 30px;
    box-shadow: 0px 0px 11px -1px #000000;
    animation: toTop 1.2s both;
}

@keyframes toTop {
    0% {
        opacity: 0;
        transform: translateY(-1000px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
  }

.slider_box {
    width: 100%;
    height: 100%;
}

.slider_box .slider_img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.slider_data_box {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgb(0, 0, 0, 0), rgb(0, 0, 0, 1));
    padding: 10px;
    z-index: 1000;
    left: 0;
    bottom: 0;
}

.slider_title {
    @include sliderImageTitle;
}

.slider_price {
    font-size: 25px;
    color: #fff;
    font-weight: 500;
}

.slider_rating {
    color: #fff;
    font-weight: 400;
}

.rating_star {
    color: yellow;
}

.slider_count_text {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 12px;
    color: #f2f2f2;
}
